body {
    text-align: center;
    flex: auto;
}

#title-el {
    color: blue;
}

#description {
    border-color: chocolate;
    background: none;
}



#credit-selector {
    color: green;
}

#expense-selector {
    color: red;
}