body {
    background-image: url(background.avif);
    text-align: center;  
    background-repeat: no-repeat;
    background-size: cover; /* or contain */
    background-position: center;

}

#title-el {
    color: blue;
}

#description {
    border-color: rgb(255, 0, 0);
    color: black;
    font-weight: bold;
    background:rgb(255, 0, 0)
}

#credit-selector {
    color: green;
}

#expense-selector {
    color: red;
}

#save-btn {
    background: none;
    color: green;
    background-color: black;
}